/* Style background banner */
body {
    font-family: 'Poppins', sans-serif;
}

.background {
    display: flex;
    color: white;
    width: 1321px;
    height: 646px;
    padding-left: 100px;
    /* padding-right: 50px; */
    border-radius: 10px;
    background-color: black;
}

.banner-text {
    width: 531px;
    height: 424p;

}

.header-text {
    margin-bottom: 0;
    font-size: 70;
    font-weight: bold;
}

.text {
    margin-top: 0px;
    font-size: 16;
    font-weight: 400;
}

.button {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: red;
}

.banner-img img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-left: 100px;
}

/* Blogs elemnts */
.blogs {
    border-radius: 10px;
    background-color: black;
    width: 312px;
    height: 312px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 50px;
}

.blogs:hover {
    border: 2px solid rgb(31, 132, 255);
}

.blog-1 {
    width: 252px;
    height: 64px;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: grid;
    text-align: center;
    align-items: center;
}

.blog-2 {
    width: 252px;
    height: 64px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
    display: grid;
    text-align: center;
    align-items: center;
}

/* Transfer button design */
.blogs-contentt {
    width: 312px;
    height: 362px;
    border: 2px solid blue;
}

.button-transfer {

    color: black;
    text-decoration: none;
    text-align: center;
    padding-left: 18px;

}

.transfer {
    width: 100px;
    height: 32px;
    border: 2px solid gray;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
}

.time-chat {
    display: flex;
    justify-content: space-between;
}